[Unit]
Description=Run scripts to power plugin LED lights

[Service]
ExecStart=/usr/bin/python3 ....PATH TO CHECKOUT..../ctrl/led-manager.py
User=....USER....
Group=nogroup
WorkingDirectory=....PATH TO CHECKOUT..../ctrl

[Install]
WantedBy=multi-user.target
